@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* BASE =============================================================== */

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 600;
}

/* TYPOGRAPHY ========================================================== */

.pink-text {
    color: hsl(0, 36%, 70%);
}

.thin-text {
    font-weight: 300;
}

h1 {
    font-size: 4rem;
    color: hsl(0, 6%, 24%);
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    margin-top: 100px;
    margin-bottom: 30px;
}

/* LAYOUT ================================================================ */

.container {
    display: flex;
    flex-direction: row;
}

main {
    background-image: url("images/bg-pattern-desktop.svg"), radial-gradient(#ffffff, #fff5f5);
    background-size: cover;
    width: 55%;
    padding: 80px 200px;
    min-height: 100vh;
}

aside {
    width: 45%;
    background-image: url(images/hero-desktop.jpg);
    background-size: cover;
    min-height: 100vh;
}

p {
    line-height: 2;
}

form {
    margin: 40px 0px;
}

/* FORM =================================================== */

#email {
    height: 40px;
    width: 300px;
    border-radius: 50px;
    border: 1px solid hsl(0, 36%, 70%);
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

#submit {
    height: 40px;
    width: 100px;
    background-image: linear-gradient(45deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 50px;
    border: none;
    padding: 0px;
    margin: 0px;
}

/* FOOTER =================================================== */

.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color: hsl(0, 93%, 68%); 
}